@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Personal Finance Tracker</h1>
    <p>Track expenses and income with this personal finance tool. View personal charts to help create a financial plan for your future.</p>
</div>
