@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Budget Tracker</h1>
    <img src="~/Images/BudgetTrackerlogo.png" style="max-width:200px;" />
    <p>Track expenses and income with this personal finance tool. View personal charts to help create a financial plan for your future.</p>
</div>
